@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --color-primario: #344e41;
  --color-secundario: #3a5a40;
  --color-terciario: #dad7cd;
  --color-titulo: #ffd166;
  --color-fondo: #f5f5f5;
  --font-titulo: 'Arial', sans-serif;
  --font-cuerpo: 'Verdana', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-cuerpo);
}

header {
  background-color: var(--color-primario);
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

header h1 {
  margin: 40px 0;
  font-size: 2.7rem;
  color: var(--color-titulo);
}

h2 {
  font-size: 1.5rem;
  color: black;
  padding: 15px;
}

nav {
  background-color: black;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 80px;
}

nav a {
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: yellow;
}

main {
  max-width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  text-align: center;
}

.title-cards {
  font-size: 1.7rem;
  color: #22223b;
  background-color: var(--color-terciario);
  border-radius: 15px 15px 0 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card_1, .card_2 {
  border: 2px solid rgb(162, 158, 158);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.inside-card1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inside-card1 img {
  width: 100%;
  height: auto;
  padding-left: 20px;
}

.card_1 h1 {
  color: black;
  text-decoration: underline;
}

.card_1 p, .inside-card1 p {
  color: black;
  text-align: left;
  padding: 20px;
  font-size: 1.2rem;
}

.card_2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.card_2 li {
  justify-content: center;
  padding: 15px;
  font-size: 1.2rem;
}

.card_2 li a {
  text-decoration: none;
}

.card_2 li a::before {
  content: "👉  ";
}

span {
  color: rgb(153, 14, 14);
  font-weight: bold;
}

footer {
  background-color: var(--color-primario);
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

#lastModified {
  padding-top: 10px;
  color: rgb(249, 196, 64);
}

picture.andrea {
  max-width: 80%;
  margin: auto;
}
/* Larger Views ******************************/
@media (min-width: 500px) {

  header h1 {
  font-size: 3.5rem;
  }

  main {
    max-width: 100%;
    margin: 10px; /* Establece los márgenes automáticos para centrar horizontalmente */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    padding: 20px;
  }
  

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 80px;
    margin-left: 80px;
    
  
  }
  
  nav ul li  {
    margin-right:80px;
    margin-left: 80px;
    
  }

  nav ul li a {
    font-size: 1.5rem;
    
  }
  
.andrea{
    width: 100%; 
    margin: auto;
  }

  
  .inside-card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul .projects-title {
    margin-bottom: 100px;
    padding-bottom: 100px;
  }

  .inside-card1 p {
    font-size: 0.8rem;
    
    margin-left: 20px;
  }

  .card_2 ul {
    padding-bottom: 80px;
  }

  .card_2 ul li {
    padding: 15px;
    font-size: 1.5rem;
    padding-bottom: 50px;
  }
  .card_2 ul li a {
    list-style-type: none;
    text-decoration: none;
  }

 .card_2 ul li a::before {
  content: "👉 ";
 }
}


